<div class="home-container">
  <section>
    <app-page-header
      headerTitle="Lista de Clãs"
      backTo="home"
    ></app-page-header>
  </section>
  <section class="page-container">
    <h1 class="main-title">Clãs</h1>

    <div class="rules-container">
      <mat-card class="rules-card" *ngFor="let clan of clans">
        <a [routerLink]="['/clanDetails', clan.name]" routerLinkActive="active">
          <img mat-card-image src="{{ clan.image }}" alt="{{ clan.name }}" />
        </a>
      </mat-card>
    </div>
  </section>
</div>
