<app-page-header></app-page-header>
<!-- <div class="home-container">
  <section>
    <mat-card class="card-container">
      <img
        mat-card-image
        src="/assets/clans/clans.png"
        alt="Clãs de Vampiro A Máscara"
      />
      <mat-card-header>
        <div mat-card-avatar class="card-header-image"></div>
        <mat-card-title>Clãs de Vampiro A Máscara</mat-card-title>
        <mat-card-subtitle>Lista de clãs</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button
          [routerLink]="'/clans'"
          routerLinkActive="active"
          mat-raised-button
          color="primary"
          class="detail-button"
        >
          Detalhes
        </button>
      </mat-card-actions>
    </mat-card>
  </section>
</div> -->
