.home-container {
}

.rules-container {
  display: grid;
  grid-template-columns: repeat(2, 45vw);
  grid-template-rows: repeat(2, 1fr);
}

.rules-card {
  max-width: 400px;
  margin: 0 10px;
}

@media only screen and (max-width: 700px) {
  .rules-container {
    display: block;
  }

  .rules-card {
    max-width: 100%;
    margin: 20px 10px;
  }
}
