<div class="home-container">
  <section>
    <app-page-header headerTitle="Home"></app-page-header>
  </section>
  <section class="page-container">
    <h1 class="main-title">Regras</h1>

    <div class="rules-container">
      <mat-card class="rules-card">
        <mat-card-header>
          <mat-card-subtitle>Clãs de Vampiro: A Máscara</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="/assets/clans/clans.png"
          alt="Clãs de Vampiro: A Máscara"
        />
        <mat-card-content>
          <p>
            Lista de clãs disponíveis e suas fichas técnicas
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button
            mat-raised-button
            color="primary"
            [routerLink]="'/clans'"
            routerLinkActive="active"
          >
            Ir para Detalhes
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </section>
</div>
