.shield-container {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 20vh 80vh;
}

.shield-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  text-align: center;
}
section {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.shield-body {
  display: grid;
  grid-template-columns: 50vw 50vw;
  grid-template-rows: repeat(2, 40fr);
}

.card-container {
  max-width: 400px;
}

.card-header-image {
  background-image: url("/assets/clans/clans-logo.jpg");
  background-size: cover;
}

@media only screen and (max-width: 600px) {
  .shield-body {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: repeat(4, 1fr);
  }

  section {
    padding: 0;
    margin: 20px 0px;
  }

  .card-container {
    max-width: 100%;
  }
}
